@import "@/assets/styles/variable";

.button {
   display: inline-block;
   box-sizing: border-box;
   border: 2px solid transparent;
   color: #fff;
   background-color: $fontColor;
   border-radius: 10px;
   cursor: pointer;
   text-decoration: none;
   transition: $main-transition;
   overflow: hidden;
   white-space: nowrap;
   padding: 0.5rem 2.5rem;
   font-size: 1.2rem;
   text-transform: none;
   text-align: center;

   &:hover {
      background-color: $mainColor;
      color: $fontColor;
   }
}