@import '@/assets/styles/variable';

.wrapper {
   display: flex;
   justify-content: flex-start;
   column-gap: 1rem;

   & a {
      color: $mainColor;
      transition: all, 0.8s, ease-in-out, 0.4s;
      &:hover {
         color: #fff;
            transition: all, 0.8s, ease-in-out, 0;
      }
   }
}