@import "../../../assets/styles/variable";
.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 1.7rem;
   padding-left: 0.5rem;
}

.cart {
   position: relative;
}

.quantity {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   top: -80%;
   right: -20%;
   background-color: $mainColor;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   font-size: 0.6rem;
   font-weight: 600;
   color: $fontColor;
}