@import "../../../assets/styles/variable";

.button {
   display: inline-block;
   box-sizing: border-box;
   border: 2px solid transparent;
   background-color: transparent;
   color: rgba(0, 0, 0, 0.259);
   cursor: pointer;
   transition: $main-transition;
   text-align: center;
   &:hover {
      color: $mainColor;
   }
}