@import "@/assets/styles/variable";

.button {
   display: inline-block;
   box-sizing: border-box;
   border: 2px solid transparent;
   background-color: $mainColor;
   color: $fontColor;
   border-radius: 5px;
   cursor: pointer;
   text-decoration: none;
   transition: $main-transition;
   overflow: hidden;
   white-space: nowrap;
   padding: 0.3rem 0.8rem;
   text-align: center;

   &:hover {
      background-color: $fontColor;
      color: #fff;
   }
}